body{
  background-image: url(background.jpg);
  background-size: 1350px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;

}
.container{
  width: 715px;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 100px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

img{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: auto;
}

h2{
  text-align: center;
  color: rgb(0, 220, 0);
  margin-bottom: 5px;
}


.menu{
  background-color: rgb(0, 220, 0);
  padding: 10px;
  padding-left: 200px;
  

}

main{
  color: white;
}

h3{
  display: inline-block;
  margin-bottom: 5px;
}

.posizione{
  display: block;
}

.barra1, .barra2, .barra3{
  height: 25px;
  color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.barra1{
  width: 28%;
  background-color: rgb(255, 164, 55);
}

.barra2{
  width: 50%;
  background-color: rgb(0, 180, 0);
}

.barra3{
  width: 14%;
  background-color: rgb(178, 34, 34);
}
